body
{
    background-position: 100%;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    color:white;
}

#Wrapper
{
    width:100%;
    height:100%;
    background-color: rgb(119, 113, 113);
}

#TopBar
{
    width:100%;
    background-color: rgb(63, 47, 47);
    height:100px;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
    text-align: center;
    border-bottom: none;
}
#Home
{
float:left;
height:100px;
border-right: 2px solid black;
min-width: 120px;
}
#Home:hover
{
    cursor: pointer;
    background-color: white;
}

#SearchBar
{
float:left;
height: 100px;
min-width: 1000px;
text-align: left;
margin-top:30px;
margin-left:20px;
margin-right: 20px;
}

#TopButtons
{
float:left;
background-color: blue;
height:100px;
min-width: 300px;
margin-left:10px;
margin-right: 10px;
text-align: center;

}

#TB
{
    
    background-color: aqua;
    margin: auto;

}

#LeftBar
{
    width:133px;
    height:500px;
    background-color: black;

  float:left;
}

#Main
{
height: 500px;
background-color: red;
float:left;
margin-left:25px;

}


input[type=search] {
    height: 30px; 
  }
  input[type=search]:focus {
    width: 90%;
  }
  input[type=search]:hover{
    cursor: pointer;
  }

  input[type=button]
  {
    border-radius: 10%;
    width: 80px;
    height: 25px;
    border: 2px solid rgb(47, 43, 43);
  }